.searchForm {
  background-image: url("./../../assets/img/search.png");
  background-size: 30px;
  background-position: right;
  background-repeat: no-repeat;
  background-color: rgb(245 245 245);
  &:focus {
    border: 2px solid #41b294 !important;
    outline: none !important;
  }
}
.mobile-menu-open li {
  width: 100%;
  border: none;
}
.logout {
  position: absolute;
  top: 25%;
  left: 0;
  z-index: 1;
  transform: translateX(30px);
  transition: all 0.5s;
}

.infoHeader:hover .logout {
  transform: translateX(85px);
}
@media (max-width: 700px) {
  .mobile-menu-open {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
